<div class="container">  
  <div class = "row">
    <div class = "col-xs-12 col-lg-6 col-lg-offset-3">
      <a [routerLink] = "['/organization-form']"><button class = "btn btn-success addcmd"><i class="fa fa-users" style="margin-right: 10px;" aria-hidden="true"></i>Add Organization</button></a>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Organization's Name</th>
        <th>Contact</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody *ngFor = "let organization of organizations | async">
      <tr>
        <td>{{organization.name}}</td>
        <td>{{organization.contact}}</td>
        <td>{{organization.phone}}</td>
        <div class = "pull-right" (click)="deleteOrganization(organization.$key)" title = "Delete"><i class="fa fa-trash" aria-hidden="true"></i></div>
      </tr>
    </tbody>
  </table>
</div>