<div class = "row">
  <div class = "col-xs-12">
      <a [routerLink] = "['contact-form']"><button class = "btn btn-success addcmd">Add Contact</button></a>
  </div>
</div>

<section>
  <h2>
    contacts-list:
  </h2>
  <p *ngFor = 'let item of items | async'>
      {{ item | json }}
  </p>

</section>

<label>
  Name:
  <input #name>
</label>

<label>
  Last Name:
  <input #lastName>
</label>

<label>
  Phone:
  <input #phone>
</label>

<label>
  Email:
  <input #email>
</label>

<button (click) = "insertContact(name, lastName, phone, email)">Insert</button>

