<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <a [routerLink]="['/contact-form']"><button class = "btn btn-success addcmd"><i class="fa fa-address-card" style="margin-right: 10px;" aria-hidden="true"></i>Add Yourself</button></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <input type = "text" class = "search" placeholder="Enter search name" [(ngModel)] = "nameContact"/>

      <p></p>

      <div *ngFor="let contact of contacts | async">
        <div *ngIf = "((contact.name).toUpperCase()).search(nameContact.toUpperCase()) != -1" class="well well-sm">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div *ngIf="contact.photoURL">
                <img [src]="contact.photoURL" class="img-rounded img-responsive" width="200" height="200" />
              </div>

              <div *ngIf="!contact.photoURL">
                <img src="https://www.drupal.org/files/profile_default.jpg" class="img-rounded img-responsive" width="200" height="200" />
              </div>
            </div>

            <div class="col-sm-6 col-md-8">
              <h4>{{contact.name}}</h4>
              <p>
                <p> <i class="glyphicon glyphicon-bookmark"></i> Yearbook: {{contact.yearbook}} </p>

                <p> <i class="glyphicon glyphicon-briefcase"></i> Job: {{contact.job}} </p>

                <p> <i class="glyphicon glyphicon-thumbs-up"></i> Social initiative: {{contact.social}} </p>

                <p> <i class="glyphicon glyphicon-heart"></i> Hobbies: {{contact.hobbies}} </p>

                <p> <i class="glyphicon glyphicon-plane"></i> Trip: {{contact.trip}} </p>

                <p> <i class="glyphicon glyphicon-map-marker"></i> Residence: {{contact.residence}} </p>

                <p> <i class="glyphicon glyphicon-envelope"></i> Email: {{contact.email}} </p>

                <p> <i class="glyphicon glyphicon-phone"></i> Phone: {{contact.phone}}
                </p>

                <div *ngIf="contact.name == afService.displayName" class="pull-right" (click)="deleteContact(contact.$key)"
                  title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>