<h1> Tene-Yerushalmi </h1>
<div class=boxes>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['/`contacts']"><button class="btn btn-success  maincmd">Contacts List</button></a>
</div>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['/`rganization-list']"><button class="btn btn-success  maincmd">Organization List</button></a>
</div>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['/`need-something']"><button class="btn btn-success  maincmd">Need Sonething?</button></a>
</div>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['/`newspaper']"><button class="btn btn-success  maincmd">Newspaper</button></a>
</div></div>