.well
{
    margin-top: 5%;
}

.maincmd
{
  width: 100%;
  height: 119px;
  margin: 15px 0px;
  background: white;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-color: brown;
}

.contact
{ 
    background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/contact.jpg?raw=true); 
}

.organization
{ 
    background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/organizations.jpg?raw=true); 
}

.needs
{ 
    background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/needs.jpg?raw=true);  
}

.news
{ 
    background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/news.jpg?raw=true); 
}

img {
    width: 80px;
    height: 80px;
    margin: 0px 5px;
}

.links{
    margin-top: 5%;
    text-align: center;
}