.logo
{
    text-align: center;
}

.boxes
{
    text-align: center;
}

.homecmd
{
  width: 25%;
  height: 250px;
  margin: 10px 0px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.contact{ background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/contact.jpg?raw=true); }
.organization{ background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/organizations.jpg?raw=true); }
.needs{ background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/needs.jpg?raw=true); }
.news{ background-image: url(https://github.com/AvihaiV/Tene-Yerushalmi/blob/master/homebtn/news.jpg?raw=true); }