<!--
<div class = "col-lg-12">
  <div class = "page-header logo">
    <img src = "https://firebasestorage.googleapis.com/v0/b/yerushalmiapp-a7516.appspot.com/o/%D7%98%D7%A0%D7%90%20%D7%99%D7%A8%D7%95%D7%A9%D7%9C%D7%9E%D7%99.png?alt=media&token=a89b810f-e1b6-4d35-96d2-c788e420a78f"/>
  </div>
</div>
-->

<div class="boxes">
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['Contact-List']"><button class="btn homecmd contact"></button></a>
</div>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['Organization-List']"><button class="btn homecmd organization"></button></a>
</div>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['Need-Something?']"><button class="btn homecmd needs"></button></a>
</div>
<div class="col-md-3 col-sm-3">
  <a [routerLink]="['Newspaper']"><button class="btn homecmd news"></button></a>
</div></div>


