<body>
  <div class="boxes">
    <div class="col-md-3 col-sm-3">
      <a [routerLink]="['Contact-List']"><button class="btn homecmd contact"></button></a>
    </div>
    <div class="col-md-3 col-sm-3">
      <a [routerLink]="['Organization-List']"><button class="btn homecmd organization"></button></a>
    </div>
    <div class="col-md-3 col-sm-3">
      <a [routerLink]="['Need-Something?']"><button class="btn homecmd needs"></button></a>
    </div>
    <div class="col-md-3 col-sm-3">
      <a [routerLink]="['Newspaper']"><button class="btn homecmd news"></button></a>
    </div>
  </div>
</body>


