/*
.border-left {
  border-left: solid 1px;
}
*/

.dropdown-menu
{
  text-align: center;
}
.nav {
  cursor: pointer;
}

.home {
  margin-top: 7px;
}

.dropdown {
  margin-right: 4px;
}