<div class="container">
  <div>
    <button class="btn btn-danger" [routerLink]="['/Contact-List']"><i class="fa fa-reply" style="margin-right: 5px;" aria-hidden="true"></i>Back to contacts </button>

    <h3 style="text-align: center">New Contact</h3>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="contact.name" [(ngModel)]='contact.name' disabled/>
          </div>

          <div class="form-group">
            <label for="yearbook">Yearbook</label>
            <input type="text" class="form-control" id="yearbook" placeholder="Enter yearbook" name="yearbook" [(ngModel)]='contact.yearbook'/>
          </div>
        
          <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" id="job" placeholder="Enter job" name="job" [(ngModel)]='contact.job' />
          </div>

          <div class="form-group">
            <label for="social">Social initiative</label>
            <input type="text" class="form-control" id="social" placeholder="Enter social" name="social" [(ngModel)]='contact.social'/>
          </div>

          <div class="form-group">
            <label for="hobbies">Hobbies</label>
            <input type="text" class="form-control" id="hobbies" placeholder="Enter hobbies" name="hobbies" [(ngModel)]='contact.hobbies'/>
          </div>

          <div class="form-group">
            <label for="trip">Trip</label>
            <input type="text" class="form-control" id="trip" placeholder="Enter trip" name="trip" [(ngModel)]='contact.trip' />
          </div>

          <div class="form-group">
            <label for="residence">Residence</label>
            <input type="text" class="form-control" id="residence" placeholder="Enter residence" name="residence" [(ngModel)]='contact.residence'/>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]='contact.email' />
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" [(ngModel)]='contact.phone' />
          </div>
          <br>

          <div class="form-group">
            <label class="btn btn-primary control-label custom-file-upload">
              <i class="fa fa-picture-o" style="margin-right: 5px;" aria-hidden="true"></i> 
              Upload Photo
              <input type="file" accept="image/*" (change) ="upload($event)" size="50"/>
            </label>
          </div>

          <div *ngIf = "showSpinner">
            <div class = "spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>

          <button class="btn btn-danger"  (click) = "resetForm()"><i class="fa fa-refresh" style="margin-right: 5px;" aria-hidden="true"></i>Reset</button>
          <a [routerLink]="['/Contact-List']"><button class="btn btn-success" (click) = "addContact()" ><i class="fa fa-check" style="margin-right: 5px;" aria-hidden="true"></i>Add Contact</button></a>
        </form>
      </div>
    </div>
  </div>
</div>