<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>

<div class="modal-dialog">
  <div class="loginmodal-container">
    <div class="logo">
		  <img src = "" />
	  </div>
	
	  <br>

    <button class="login loginmodal-submit" (click)="loginWithGoogle()">Login With Google</button>
    <hr>
    
    <button class="login loginmodal-submit" (click)="loginWithFacebook()">Login With Facebook</button>
    <hr>
  </div>
</div>