<div class = "container">
  <div>
  <button class="btn btn-danger" [routerLink]="['/Need-Something?']"><i class="fa fa-reply" style="margin-right: 5px;" aria-hidden="true"></i>Back to need-something </button>

    <h3 style="text-align: center">New Post</h3>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
        <form>
          <div class = "from-group">
            <label for = "description">Post description</label>
            <input type = "text" class = "form-control" id = "description" placeholder="Enter Description" name = "description" [(ngModel)]= 'item.description'/>
          </div>
          <br>

          <fieldset class="form-group">
              <legend>Contact Information:</legend>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder=item.author name="name" [(ngModel)]='item.author' disabled/>
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" name = "phone" [(ngModel)]= 'item.phone'/>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" name = "email" [(ngModel)]= 'item.email'/>
                </div>
          </fieldset>
          
          <div class="form-group">            
            <label class ="btn btn-primary control-label custom-file-upload">
              <i class="fa fa-picture-o" style="margin-right: 5px;" aria-hidden="true"></i>
              Upload Photo
              <input type="file" accept="image/*" (change) ="upload($event)" size="50"/>
            </label>
          </div>     

          <div *ngIf = "showSpinner">
            <div class = "spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>

          <button class="btn btn-danger" (click) = "resetForm()"><i class="fa fa-refresh" style="margin-right: 5px;" aria-hidden="true"></i>Reset</button>
          <a [routerLink]="['/Need-Something?']"><button class="btn btn-success" (click)="addItem()" ><i class="fa fa-check" style="margin-right: 5px;" aria-hidden="true"></i>Add Post</button></a>
        </form>
      </div>
    </div>
  </div>
</div>